<% provide(:title, @subject.name) %>

<!-- Page header -->
<h1><%= @subject.name %></h1>

<!-- Contents -->
<ul class="contents">
  <h2>
    <li>
      <%= link_to( "Level One", subject_path(@subject, :anchor => 'level1') ) %>
    </li>
  </h2>
</ul>

<!-- Course list for this subject -->
<% @subject.courses.each do |course| %>
<ul class="courses">
  <li class="course">
    <%= render course %>
  </li>  
</ul>
<% end -%>