<%= provide(:title, "All courses") %>

<ul id="courses">
  <% @courses.each do |course| %>
  <li class="course">
    <ul>
      <strong>Name</strong>
      <li><%= link_to course.name, course_path( course ) %></li>
      <strong>Course Code</strong>
      <li><%= course.ccode %></li>
    </ul>
  </li>
  <% end -%>
</ul>